# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# 
RewriteBase %%PLATFORM_APPEND%%/module/MOBILE/

#In case of CLDOC/getResources, Query String must be used
RewriteCond %{QUERY_STRING} recursive=|curDirPath=
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?([a-zA-Z0-9]*)/?$ ?module=$1&method=$2&cidReq=$3&cidReset [QSA,L]

#Detect the debug flag
RewriteCond %{QUERY_STRING} debug
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?([a-zA-Z0-9]*)/?([a-zA-Z0-9]*)/?$ ?module=$1&method=$2&cidReset&cidReq=$3&resID=$4&debug [L]

RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?([a-zA-Z0-9]*)/?([a-zA-Z0-9]*)/?$ ?module=$1&method=$2&cidReset&cidReq=$3&resID=$4 [L]

RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?([a-zA-Z0-9]*)/?$ ?module=$1&method=$2&cidReset&cidReq=$3 [L]